<div class="home-page">
    <div class="section1">
        <img src="logo2.png" alt="">
        <div>
            <h1>RecycLink</h1>
            <h2>Small actions, when multiplied by millions, can transform the world.</h2>
        </div>
        <img src="logo2.png" alt="" class="image2">
    </div>
</div>
<div class="collection">
    <img src="collection.png" alt="">
    <div>
        <h1>Need someone to COLLECT your garbage?</h1>
        <h2>Don't worry, we got it covered. Our registered collectors will get it done!</h2>
    </div>
</div>
<div class="recycle">
    <div>
        <h1>Give your waste a second chance by RECYCLING!</h1>
        <h2>And we ensure that it reaches the right place and receives right treatment</h2>
    </div>
    <img src="recycle.png" alt="">
</div>
<div class="hazardousWaste">
    <img src="hazardousWaste.png" alt="">
    <div>
        <h1>Don't know what to do with used batteries, chemicals and other TOXIC WASTES?</h1>
        <h2>Give them to us. We'll handle them</h2>
    </div>
</div>
<div class="training">
    <div>
        <h1>It's never late to learn!</h1>
        <h2>We provide you TRAININGS, so that we can shape a better future together</h2>
    </div>
    <img src="training.png" alt="">
</div>
<div class="volunteer">
    <img src="volunteer.png" alt="">
    <div>
        <h1>Be the change you wish to see in the world</h1>
        <h2>And we'll provide you with opportunities to VOLUNTEER and help</h2>
    </div>
</div>