<div class="navbar">
    <a routerLink="/" class="logo">
        <img src="logo.png" alt="Logo">
        <h2>RecycLink</h2>
    </a>
    <div class="nav-items">
      <div *ngIf="!isAuthenticated">
        <button routerLink="/sign-in" class="signInBtn">Sign In</button>
      </div>
      <div *ngIf="isAuthenticated">
        <div class="profile-menu">
          <button class="profile-btn">
            <i class="fa-solid fa-user"></i>
          </button>
          <div class="profile-dropdown">
            <p>{{ username }}</p>
            <a (click)="navigate()">{{role}} Page</a>
            <a routerLink="/user">My Profile</a>
            <button (click)="logout()">Sign Out</button>
          </div>
        </div>
      </div>
    </div>
</div> 

<router-outlet></router-outlet>

<footer>
  <div class="footer-sections">
    <div class="footer-detail">
      <h4>Contact Us</h4>
      <div class="footer-item">
        <p><i class="fa-solid fa-phone"></i> +91 999 888 7766</p>
      </div>
      <div class="footer-item">
        <p><i class="fa-solid fa-envelope"></i> recycLink&#64;gmail.com</p>
      </div>
      <div class="footer-item">
        <p><i class="fa-solid fa-address-book"></i> 123 Main Street, Hyderabad, India</p>
      </div>
    </div>
    <div class="footer-detail">
      <h4>Follow Us On</h4>
      <div class="footer-item">
        <a href=""><i class="fa-brands fa-square-facebook"></i></a>
      </div>
      <div class="footer-item">
        <a href=""><i class="fa-brands fa-square-instagram"></i></a>
      </div>
      <div class="footer-item">
        <a href=""><i class="fa-brands fa-youtube"></i></a>
      </div>
      <div class="footer-item">
        <a href=""><i class="fa-brands fa-square-x-twitter"></i></a>
      </div>
    </div>
    <div class="footer-detail">
      <h4>Policies</h4>
      <div class="footer-item" *ngFor="let item of footerDetails[0].items">
        <a href="">{{item}}</a>
      </div>
    </div>
  </div>
</footer>