<div class="rp-manager-page">
  <!-- Tabs -->
  <div class="tabs">
    <button (click)="toggleSection('plantDetails')" [class.active]="activeSection === 'plantDetails'" class="tab">
      Plant Details
    </button>
    <button (click)="toggleSection('trainings')" [class.active]="activeSection === 'trainings'" class="tab">
      Trainings
    </button>
    <button (click)="toggleSection('hazardousWaste')" [class.active]="activeSection === 'hazardousWaste'" class="tab">
      Hazardous Waste
    </button>
    <button class="notification-button" (click)="toggleNotifications()">
      <i class="fa-solid fa-bell"></i>
    </button>
  </div>

   <!-- Notification Dropdown -->
   <div *ngIf="isNotificationVisible" class="notification-dropdown">
    <h3>Notifications</h3>
    <div *ngFor="let notification of notifications">
      <div class="notification-item">
        <p>{{ notification.type }}</p>
        <p>{{notification.message}}</p>
        <small>{{ notification.timestamp | date }}</small>
      </div>
    </div>
  </div>

   <!-- Plant Details Section -->
   <div *ngIf="activeSection === 'plantDetails'">
    <h2>Plant Details</h2>
    <div class="plant-details">
      <div class="plant-info">
        <p><b>Name:</b> {{ plantDetails?.name }}</p>
        <p><b>Location:</b> {{ plantDetails?.location }}</p>
        <p><b>Capacity:</b> {{ plantDetails?.capacity }}</p>
        <p><b>Processed Materials:</b> {{ plantDetails?.processedMaterials }}</p>
        <div class="plantEditBtn">
          <button (click)="showPlantForm()"><i class="fa-solid fa-pen-to-square"></i></button>
        </div>
      </div>
    </div>
     <!-- Edit Plant Form (Popup) -->
     <div *ngIf="isPlantFormVisible" class="recycling-plant-form popup-modal">
          <h3>Edit Plant Details</h3>
          <form (ngSubmit)="onPlantSubmit()">
            <input type="text" placeholder="Name" [(ngModel)]="plantForm.name" name="name" required />
            <input type="text" placeholder="Location" [(ngModel)]="plantForm.location" name="location" required />
            <input type="number" placeholder="Capacity" [(ngModel)]="plantForm.capacity"  name="capacity" required />
            <textarea placeholder="Processed Materials"[(ngModel)]="plantForm.processedMaterials" name="processedMaterials" required></textarea>
            <div class="plantBtns">
              <button type="submit">Update</button>
              <button type="button" (click)="cancelPlantForm()">Cancel</button>
            </div>
          </form>
        </div>
    </div>

    <!-- Trainings Section -->
    <div *ngIf="activeSection === 'trainings'" class="trainings">
      <h2>Trainings</h2>
        <div *ngFor="let training of trainings" class="training-cards">
          <div class="training-card">
            <p><b>Title: </b>{{ training.content }}</p>
          <p><b>Date Scheduled: </b>{{ training.dateScheduled | date}}</p>
          </div>
      </div>
    </div>

  <!--Hazardous Wastes-->
  <div *ngIf="activeSection === 'hazardousWaste'" class="hazardous-waste">
    <h2>Hazardous Waste</h2>
    <div *ngIf="showHazardousWasteForm" class="hazardous-waste-form popup-modal">
      <h3>Edit Hazardous Waste</h3>
      <form (ngSubmit)="onHazardousWasteSubmit()">
        <input  type="text" placeholder="Type"  [(ngModel)]="hazardousWasteForm.type" name="type" required />
        <input type="text" placeholder="Location"[(ngModel)]="hazardousWasteForm.location"  name="location"  required/>
        <input type="date"  placeholder="Date Collected" [(ngModel)]="hazardousWasteForm.dateCollected" name="dateCollected"required />
        <input type="text" placeholder="Recycling Plant" [(ngModel)]="hazardousWasteForm.recyclingPlantId"  name="recyclingPlantId" required />
        <select [(ngModel)]="hazardousWasteForm.disposalStatus" name="disposalStatus" required>
          <option value="" disabled selected>Status</option>
          <option value="Pending">Pending</option>
          <option value="Completed">Completed</option>
        </select>
        <div class="hwBtns">
          <button type="submit">Update</button>
          <button type="button" (click)="cancelHazardousWasteForm()">Cancel</button>
        </div>
      </form>
    </div>

    <div *ngFor="let waste of hazardousWastes" class="hazardous-waste-item">
      <div class="hazardous-waste-box">
        <p><b>Waste Type: </b>{{ waste.type }}</p>
        <p><b>Location: </b>{{ waste.location }}</p>
        <p><b>Date Collected: </b>{{ waste.dateCollected | date}}</p>
        <p><b>Disposal Status: </b>{{ waste.disposalStatus }}</p>
        <p><b>Recycling PlantId: </b>{{ waste.recyclingPlantId }}</p>
        <div class="hwEditBtn">
          <button (click)="editHazardousWaste(waste)"><i class="fa-solid fa-pen-to-square"></i></button>
        </div>
      </div>
    </div>
</div>