/* You can add global styles to this file, and also import other style files */
@import 'ngx-toastr/toastr';

$one:#03045e;
$two:#0077b6;
$three:#00b4d8;
$four:#90e0ef;
$five:#caf0f8;

* {
    margin-left: 0;
    margin-right: 0;
}
